<div>
    <form>
        <div class="mb-3">
            <label>Email</label>
            <input type="text" name="Email" />
        </div>
        <div class="mb-3">
            <label>Comentario</label>
            <textarea name="Comentario" rows="4"></textarea>
        </div>
        <button class="btn btn-primary">Enviar</button>
    </form>
</div>